*{
    margin: 0; 
    padding: 0; 
    outline: 0; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
    border: none;
    list-style-type: none;
    list-style: none;
    text-decoration: none;
  }
  
  html{
    font: 62.5% Roboto, sans-serif; /*1rem =10px*/
    color: var(--orange-gray);
  }
  
  body{
    font-size: 1.4rem;
  }
  
  html, body{
    background-color: var(--gray-10);
    width: 100vw;
    height: 100vh;
  }
  
  /* h1{
    font-size: 3.4rem;
  }
  h2{
    font-size: 3.0rem;
  }
  h3{
    font-size: 2.4rem;
  }
  h4{
    font-size: 2.2rem;
  }
  h5{
    font-size: 2.0rem;
  }
  h6{
    font-size: 1.8rem;
  }
  i{
    font-size: 1.6rem;
    font-style: normal;
  }
  span{
    font-size: 1.5rem;
   
  }
 
  a{
    font-size: 1.2rem;
    text-decoration: none;
  } */

  strong{
    font-size: 1.0rem;
  }
  p{
    font-size: 1.4rem;
  }
  
  .fc{
    display: flex;
    flex-direction: column;
  }
  .fr{
    display: flex;
    flex-direction: row;
  }
  
  .f-center{
    justify-content: center;
    align-items: center;
  }
  
  .f-a-center{
    align-items: center;
  }
  
  .f-a-flexStart{
    align-items: flex-start;
  }
  
  .f-j-spaceBetween{
    justify-content: space-between;
  }
  .f-j-spaceAroun{
    justify-content: space-around;
  }
  .f-j-end{
    justify-content: flex-end;
  }
  
  .f-j-spaceEvenly{
    justify-content: space-evenly;
  }
  
  :root{
    --gradient-button: linear-gradient(180deg,#4BAD00,#d0ff5f);

    --green-10:#72FA0A;
    --green-20:#83FF24;
    --green-30:#4BAD00;

    --blue-10:#55A1DD;
    --green-500:#084A4C;

    --brown: #8d35067a;
    --green:#2ecc71;
    --yellow: #f1c40f;
    --danger:#e74c3c;

    
    --white:#FFFFFF;
    --gray-10: #EEF1FA;
    --gray-50: #E7E7E7;
    --gray-100: #BFBFBF;
    --gray-500: #757575;
    --black-500:#333333;
  
  }